body {
  box-sizing: border-box;
  margin: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
}

#calculator {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#display {
  width: 100%;
  height: 25%;
  background-color: darkslategray;
}

#display-input {
  width: 100%;
  text-align: right;
  border: none;
  background-color: transparent;
  color: aliceblue;
  font-size: 2rem;
}

#space-div {
  width: 100%;
  height: 13.5%;
}

#keys-div {
  width: 100%;
  height: 62.5%;
  background-color: black;
}

#left-div {
  width: 75%;
  height: 100%;
}

#numbers-div {
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
}

#equals {
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  border: 1px solid aliceblue;
  background-color: cadetblue;
  color: aliceblue;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

#numbers-div > div {
  width: 33.3%;
  height: 25%;
  border-radius: 1rem;
  border: 1px solid aliceblue;
  background-color: cadetblue;
  color: aliceblue;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

#right-div {
  width: 25%;
  height: 100%;
}

#right-div > div {
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  border: 1px solid aliceblue;
  background-color: coral;
  color: aliceblue;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

#right-div > div#clear {
  height: 40%;
}

.flex-div {
  display: flex;
}

.col {
  flex-direction: column;
}
/*
#keys-div > div {
  flex: 1 0.3 auto;
}

#left-div {
  flex: 3 1 auto;
}

#right-div > div {
  flex: 1 0.5 auto;
}

#clear {
  flex: 2 1 auto;
}

/*
  Screens:
    320, 400 
*/
