body {
  box-sizing: border-box;
  margin: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
}

#primary-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#secondary-container {
  width: 100%;
  height: 100%;
  background-color: black;
}

#welcome-message-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  padding: 1rem;
}

#welcome-message-bubble {
  background-color: aliceblue;
  border-radius: 1.2rem;
  padding: 1rem;
}

#welcome-message-bubble > * {
  width: 100%;
}

#welcome-message-bubble > h2 {
  text-align: left;
}

#welcome-message-bubble > button {
  width: 50%;
}

#calculator {
  width: 100%;
  height: 100%;
  background-color: black;
}

#display {
  width: 100%;
  height: 25%;
  background-color: darkslategray;
  justify-content: space-between;
}

#input-div {
  height: 40%;
  width: 100%;
}

label[for="display-input"] {
  width: auto;
  height: auto;
  padding: 0%;
}

#display-input {
  width: 100%;
  height: 100%;
  text-align: right;
  border: none;
  background-color: transparent;
  color: aliceblue;
  font-size: 2rem;
}

#result-div {
  height: 60%;
  width: 100%;
}

label[for="result"] {
  width: auto;
  height: auto;
  padding: 0%;
}

#result {
  width: 100%;
  height: 100%;
  text-align: right;
  border: none;
  background-color: transparent;
  color: aliceblue;
  font-size: 2.5rem;
}

#space-div {
  width: 100%;
  height: 13.5%;
}

#keys-div {
  width: 100%;
  height: 62.5%;
  background-color: black;
}

#left-div {
  width: 75%;
  height: 100%;
}

#numbers-div {
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
}

#equals {
  width: 100%;
  height: 20%;
  border-radius: 0.5rem;
  border-right: 3px ridge rgb(66, 89, 131);
  border-bottom: 3px ridge rgb(66, 89, 131);
  background-color: cadetblue;
  color: aliceblue;
  font-size: 2rem;
}

#numbers-div > div {
  width: 33.3%;
  height: 25%;
  border-radius: 0.5rem;
  border-right: 3px ridge rgb(66, 89, 131);
  border-bottom: 3px ridge rgb(66, 89, 131);
  background-color: cadetblue;
  color: aliceblue;
  font-size: 2rem;
}

#right-div {
  width: 25%;
  height: 100%;
}

#right-div > div {
  width: 100%;
  height: 20%;
  border-radius: 0.5rem;
  border-right: 3px ridge brown;
  border-bottom: 3px ridge brown;
  background-color: coral;
  color: aliceblue;
  font-size: 2rem;
}

#right-div > div#clear {
  height: 40%;
}

.flex-div {
  display: flex;
}

.col {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

/*
  Screens:
    min 320   - mobile (base)
    min 768   - tablet
      scaling up: base * 2.4
    min 1024  - laptop
      scaling up: base * 3.2
    min 2560  - 4k
      scaling up: base * 8.0
*/

/* Tablets */
@media screen and (min-width: 768px) {
  #welcome-message-bubble {
    padding: 2rem;
    gap: 1rem;
  }

  #welcome-message-bubble > * {
    font-size: 2rem;
  }

  #secondary-container {
    width: 80%;
    height: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid slategray;
  }

  #display-input {
    font-size: 3.2rem;
  }

  #result {
    font-size: 3.7rem;
  }

  #keys-div > *,
  #keys-div > div > *,
  #keys-div > div > div > * {
    font-size: 3.2rem;
  }

  /* #secondary-container {
  } */
}

/* Laptops */
@media screen and (min-width: 1024px) {
  #secondary-container {
    width: 50%;
  }
}

/* 4K Screens */
@media screen and (min-width: 2560px) {
  #secondary-container {
    width: 30%;
  }
}
