body {
  box-sizing: border-box;
  margin: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
}

#calculator {
  width: 320px;
  height: auto;
}

.flex-div {
  display: flex;
}

.col {
  flex-direction: column;
}

#keys-div > div {
  flex: 1 .3 auto
}

#left-div {
  flex: 3 1 auto
}

#right-div > div {
  flex: 1 .5 auto
}

#clear {
  flex: 2 1 auto
}